[submodule "material3/material-color-utilities"]
	path = material3/material-color-utilities
	url = https://github.com/material-foundation/material-color-utilities.git
[submodule "third_party/stable-diffusion.cpp"]
	path = third_party/stable-diffusion.cpp
	url = https://github.com/myrqyry/stable-diffusion.cpp.git
[submodule "third_party/litert-samples"]
	path = third_party/litert-samples
	url = https://github.com/google-ai-edge/litert-samples.git
